@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: 79 70 229;
    --color-brand-dark: 67 56 202;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
